<div class="footer-container">
            <footer class="footer">
                <section class="rights">
                    <!-- <h4>all rights reserved 2021</h4> -->
					<h4>© Yukizamatsuri</h4>
                </section>
                <ul class="socialLinks">
                    <li class="socialLink">
                        <a href="https://www.instagram.com/yukizamatsuri/" target="_blank" id="instagram"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="socialLink">
                        <a href="https://soundcloud.com/yukizamatsuri" target="_blank" id="soundcloud"><i class="fab fa-soundcloud"></i></a>
                    </li>
                </ul>
            </footer>
        </div>