.footer-container
    background-color: black
    width: 100%
    // min-height: 5vh
    align-items: center
    padding: 1rem 0

.footer
    width: 80%
    margin: auto
    color: rgb(245, 245, 245)
    display: flex
    justify-content: space-between

.rights
    display: flex
    flex-direction: column
    text-align: right
    flex: 4
    font-size: 1.6rem
    margin-right: 4rem
    font-family: 'FS Meridian thin'
    font-weight: lighter
    letter-spacing: 2px

.socialLinks
    list-style: none
    display: flex
    justify-content: space-between
    // flex: 1
    align-items: center

.socialLink a
    padding: 0 1rem
    color: rgb(240, 240, 240)
    font-size: 2rem
    transition: 0.2s

a
    &#instagram
        &:hover
            color: $mainColor
    &#soundcloud
        &:hover
            color: $mainColor
