@import 'music'
@import 'slider'

main 
    display: flex
    min-height: 100%
    flex-direction: column


.main 
    /* min-height: 100%; */
    display: flex
    width: 80%
    margin: auto


body 
    overflow-x: hidden


body::-webkit-scrollbar 
    display: none


/* Hide scrollbar for IE, Edge and Firefox */

html 
    -ms-overflow-style: none
    /* IE and Edge */
    scrollbar-width: none
    /* Firefox */


h2 
    font-size: 3rem
    letter-spacing: 0.5px
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Anton', sans-serif


.description 
    font-size: 2.4rem
    margin: 6rem 0
    font-family: 'Bebas Neue', cursive


.contactText 
    font-size: 1.9rem
    font-family: 'Bebas Neue', cursive


.about 
    /* height: 100%; */
    width: 40%
    margin: auto 0
    /* margin-bottom: 14%; */
    text-align: center

.scroll 
    display: none
    font-size: 3rem
    margin-bottom: 4rem
    width: 4rem
    height: 4rem
    color: #e3784d
    background-size: 100%
    background-clip: text
    -webkit-background-clip: text
    -moz-background-clip: text
    /* -webkit-text-fill-color: transparent */
    /*-moz-text-fill-color: transparent */
    border: none
    outline: none
